<div class="container-fluid">
  <h2 class="text-center">MEMBER INFORMATION EDIT</h2>
  <p class="text-center"><%= flash[:notice] %></p>
  <%= render 'layouts/error', obj: @member %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <% if @member.is_guest == false %>
          <%= form_with model: @member, url: admin_member_path(@member) do |f| %>

            <div class="field m-5">
              <%= image_tag @member.get_member_image(200, 200), class: "rounded-circle img-fluid mb-3" %>
            </div>

            <div class="field my-2">
              <%= f.file_field :member_image, accept: "image/*" %>
            </div>

            <div class="field text-left my-2">
              <%= f.label :name, "氏名" %>
              <%= f.text_field :name, placeholder: "メンバー名（25文字以下）", autofocus: true, class: "form-control" %>
            </div>

            <div class="field text-left my-2">
              <%= f.label :introduction, "自己紹介" %>
              <%= f.text_area :introduction, placeholder: "自己紹介（255文字以下）", class: "form-control", rows: 5 %>
            </div>

            <div class="field text-left my-2">
              <%= f.label :email, "email" %>
              <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>
            </div>

            <div class="field text-left my-2">
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active_true, "入会" %>
              <%= f.radio_button :is_active, false, class: "ml-3" %>
              <%= f.label :is_active_false, "退会" %>
            </div>

            <div class="actions m-3">
              <%= link_to  "キャンセル", admin_member_path, class: "btn btn-secondary mr-3" %>
              <%= f.submit "保存", class: "btn btn-success" %>
            </div>
          <% end %>
          <%= link_to "削除する", admin_member_path(@member), method: :delete, data: { confirm: "元には戻せません、本当に削除しますか？" } %>
        <% else %>
          <p class="text-danger">このメンバーの情報を変えるはできません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>