<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <%= render 'show', member: @member %>
  <div class="row justify-content-center">
    <div class="text-center">
      <div class="tabs">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#section1">
              <%= image_tag 'review_logo.png', width: '150px', height: 'auto', class: "img-fluid" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section2">
              <%= image_tag 'favorite_logo.png', width: '150px', height: 'auto', class: "img-fluid" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section3">
              <%= image_tag 'report_logo.png', width: '150px', height: 'auto', class: "img-fluid" %>
            </a>
          </li>
        </ul>

        <div class="tab-content border-top">
          <div id="section1" class="tab-pane fade show active">
            <%= render "admin/reviews/index", reviews: @reviews %>
          </div>
          <div id="section2" class="tab-pane fade">
            <%= render "admin/reviews/index", reviews: @favorited_reviews %>
          </div>
          <div id="section3" class="tab-pane fade">
            <%= render "public/members/report", total_favorited_count: @total_favorited_count, total_commented_count: @total_commented_count,
            total_visited_museum: @total_visited_museum, total_visited_exhibition: @total_visited_exhibition %>
            <% if @earned_badges.present? %>
              <%= render 'admin/members/earned_badges', earned_badges: @earned_badges %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
