<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="text-center">
        <h2>badge Information Edit</h2>
        <%= form_with model: @badge, url: admin_badge_path(@badge) do |f| %>

          <div class="field m-5">
            <%= image_tag @badge.get_badge_image(200, 200), class: "rounded-circle mb-3" %>
            <%= f.file_field :badge_image, accept: "image/*", class: "form-control-file" %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :name, "バッジ名" %>
            <%= f.text_field :name, placeholder: "バッジ名（25文字以下）", autofocus: true, class: "form-control" %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :introduction, "紹介文" %>
            <%= f.text_area :introduction, placeholder: "紹介文（255文字以下）", class: "form-control", rows: 10 %>
          </div>

          <div class="field text-left my-2">
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active_true, "公開する" %>
            <%= f.radio_button :is_active, false, class: "ml-3" %>
            <%= f.label :is_active_false, "下書きに戻す" %>
          </div>

          <div class="actions m-3">
            <%= link_to  "キャンセル", admin_badge_path, class: "btn btn-secondary mr-3" %>
            <%= f.submit "保存", class: "btn btn-success" %>
          </div>
        <% end %>
        <%= link_to "削除する", admin_badge_path(@badge), method: :delete, data: { confirm: "元には戻せません、本当に削除しますか？" } %>
      </div>
    </div>
  </div>
</div>