<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 table-responsive text-nowrap">
      <table class="table border-bottom">
        <thead>
          <tr>
            <th></th>
            <th>メンバーネーム</th>
            <th>レビュー</th>
            <th>バッジ</th>
            <th>フォロー</th>
            <th>フォロワー</th>
          </tr>
        </thead>
        <tbody>
          <% members.each do |member| %>
            <% if member.is_active %>
              <tr>
                <td>
                  <%= link_to member_my_page_path(member_member_name: member.name) do %>
                    <%= image_tag member.get_member_image(65, 65), class: "rounded-circle" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to member_my_page_path(member_member_name: member.name) do %>
                    <%= member.name %>
                  <% end %>
                </td>
                <td><%= member.reviews.count %></td>
                <td><%= member.badges.where(is_active: true)count %></td>
                <td><%= member.followings.where(members: { is_active: true }).count %></td>
                <td><%= member.followers.where(members: { is_active: true }).count %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>