<%= render 'form' %>

<% if @reviews.present? || @members.present? %>
  <div class="container-fluid m-5">
    <div class="row justify-content-center">
      <div class="text-center">
        <div class="tabs">
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#section1">
                <%= image_tag 'review_logo.png', width: '150px', height: 'auto', class: "img-fluid" %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#section2">
                <%= image_tag 'member_logo.png', width: '150px', height: 'auto', class: "img-fluid" %>
              </a>
            </li>
          </ul>
          <div class="tab-content border-top">
            <div id="section1" class="tab-pane fade show active">
              <% if @reviews.present? %>
                <%= render 'public/reviews/latest_index', reviews: @reviews %>
              <% end %>
            </div>
            <div id="section2" class="tab-pane fade">
              <% if @members.present? %>
                <%= render 'public/members/index', members: @members %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>