<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col">
      <table class="table border-bottom">
        <thead>
          <tr>
            <th></th>
            <th>美術館</th>
            <th>展示会</th>
            <th>公開ステータス</th>
            <th></th>
          </tr>
        </thead>
          <tbody>
            <% museums.each do |museum| %>
            <tr>
              <td>
                <%= link_to admin_museum_path(museum) do %>
                  <%= image_tag museum.get_museum_images(100, 100) %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_museum_path(museum) do %>
                  <%= museum.name %>
                <% end %>
              </td>
              <td><%= museum.exhibitions.count %></td>
              <td><%= museum_is_active_display(museum) %></td>
              <td>
                <%= link_to edit_admin_museum_path(museum), class: "btn" do %>
                  <i class="fa-solid fa-gear align-bottom" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>