<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <h2>Museum Information Edit</h2>
        <%= form_with model: @museum, url: admin_museum_path(@museum) do |f| %>

        <p>選択した特定の画像を削除できます</p>

          <div class="field d-flex justify-content-center my-3">
            <% @museum.museum_images.each do |image| %>
              <div class="delete-image-check">
                <%= f.check_box :museum_image_id, { multiple: true }, image.id, false %>
                <%= image_tag image.variant(resize: "200x100", gravity: 'center', extent: "200x100").processed, class: "m-1 img-fluid" %>
              </div>
            <% end %>
          </div>

          <div class="field  my-2">
            <%= f.file_field :museum_images, multiple: true, accept: "image/*" %>
            <p class="mt-3">画像は最大4個まで登録できます</p>
          </div>

          <div class="field text-left my-2">
            <%= f.label :name, "美術館名" %>
            <%= f.text_field :name, placeholder: "美術館名", autofocus: true, class: "form-control" %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :introduction, "紹介文" %>
            <%= f.text_area :introduction, placeholder: "紹介文（255文字以下）", class: "form-control", rows: 10 %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :official_website, "公式WEBサイトURL" %>
            <%= f.text_area :official_website, placeholder: "公式WEBサイトURL（255文字以下）", class: "form-control" %>
          </div>

          <div class="field text-left my-2">
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active_true, "公開" %>
            <%= f.radio_button :is_active, false, class: "ml-3" %>
            <%= f.label :is_active_false, "非公開" %>
          </div>

          <div class="actions m-3 mb-5">
            <%= link_to  "キャンセル", admin_museum_path, class: "btn btn-secondary mr-3" %>
            <%= f.submit "保存", class: "btn btn-success" %>
          </div>
        <% end %>
        <%= link_to "削除する", admin_museum_path(@museum), method: :delete, data: { confirm: "元には戻せません、本当に削除しますか？" } %>
      </div>
    </div>
  </div>
</div>