<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row m-3">
    <div class="col-md-6">
      <div class="images">
        <% @museum.museum_images.each do |image| %>
          <%= image_tag image.variant(resize: "600x400", gravity: 'center', extent: "600x400").processed %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <%= content_tag :h3, @museum.name %>
      <%= link_to edit_admin_museum_path(@museum), class: "btn" do %>
        <i class="fa-solid fa-gear align-top"></i>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <% if @museum.introduction.present? %>
      <%= @museum.introduction.scan(/.{1,85}/).join("<br>").html_safe %>
    <% end %>
  </div>
  <div class="row justify-content-center m-3">
    <%= link_to "#{@museum.name} 公式サイト", @museum.official_website, target: "_blank" %>
  </div>
  <div class="row justify-content-center align-items-center">
    <i class="fa-solid fa-bookmark mr-1" aria-hidden="true"></i>
    <%= @museum.bookmark_museums.count %>
  </div>
</div>
