<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <%= render 'admin/reviews/member', review: @review %>
  <div class="border"></div>

  <div class="row justify-content-center m-5">
    <div class="text-center">
      <%= image_tag 'review_detail_logo.png', width: '275px', height: 'auto', class: "img-fluid" %>
        <%= link_to admin_review_path(@review), method: :delete, class: "btn" do %>
          <i class="fa-solid fa-trash-can" aria-hidden="true"></i>
        <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="row justify-content-center m-3">
        <% if @review.review_image.attached? %>
          <div class="col-md-6">
            <div class="images my-auto">
              <%= image_tag @review.get_review_image(600, 600), class: "img-fluid" %>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <%= content_tag :h4, @review.body %>
          </div>
        <% else %>
            <%= content_tag :h4, @review.body %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
<%= render 'admin/reviews/event', review: @review %>
  </div>

  <div class="row justify-content-center">
    <div class="btn" id="comments_count_<%= @review.id %>">
      <i class="fa-regular fa-comment" aria-hidden="true"></i>
      <%= @review.review_comments.count %>
    </div>
      <%= render "admin/favorites/favorite", review: @review %>
  </div>
  <div class="border my-5"></div>
</div>
