<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="row d-flex justify-content-center m-3">
        <div class="col-md-6">
          <div class="images my-auto">
            <% @exhibition.exhibition_images.each do |image| %>
              <%= image_tag image.variant(resize: "600x400", gravity: 'center', extent: "600x400").processed %>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <%= content_tag :h4, @exhibition.name %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <% if @exhibition.introduction.present? %>
      <%= @exhibition.introduction.scan(/.{1,85}/).join("<br>").html_safe %>
    <% end %>
  </div>
  <div class="row justify-content-center m-3">
    <%= link_to "#{@exhibition.name} 公式サイト", @exhibition.official_website, target: "_blank" %>
  </div>

  <div id="bookmark_<%= @exhibition.id %>", class="row justify-content-center align-items-center">
    <%= render "public/bookmark_exhibitions/btn", exhibition: @exhibition %>
  </div>

  <div class="border mt-5"></div>
  <h2 class="text-center m-3">開催美術館</h2>
  <div class="row justify-content-center">
    <div class="text-center">
      <%= link_to museum_path(@exhibition) do %>
        <%= @exhibition.museum.name %>
      <% end %>
    </div>
  </div>

  <div class="border mt-5"></div>
  <h2 class="text-center m-3">出展アーティスト</h2>
  <div class="row justify-content-center">
    <div class="text-center">
      <% @artists.each_slice(2) do |artists| %>
        <div class="d-flex">
          <% artists.each do |artist| %>
            <div class="d-flex flex-column m-5">
              <%= link_to artist_path(artist) do %>
                <%= image_tag artist.artist_images.first.variant(resize: "400x300", gravity: 'center', extent: "300x200").processed, class: "mb-1" %>
              <% end %>
              <%= artist.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>