<div class="container-fluid">
  <div class="row m-3">
    <div class="col text-right">
      <%= image_tag @exhibition.get_exhibition_images(500, 500) %>
    </div>
    <div class="col offset-1 d-flex align-items-center">
      <div class="row">
        <%= content_tag :h3, @exhibition.name %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <% if @exhibition.introduction.present? %>
      <%= @exhibition.introduction.scan(/.{1,85}/).join("<br>").html_safe %>
    <% end %>
  </div>
  <div class="row justify-content-center m-3">
    <%= link_to "公式サイト", @exhibition.official_website, target: "_blank" %>
  </div>
  
  <div id="bookmark_<%= @exhibition.id %>", class="row justify-content-center align-items-center">
    <%= render "public/bookmark_exhibitions/bookmark", exhibition: @exhibition %>
  </div>
</div>