<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col">
      <table class="table border-bottom">
        <thead>
          <tr>
            <th></th>
            <th>バッジ</th>
            <th>獲得日</th>
          </tr>
        </thead>
        <tbody>
          <% earned_badges.each do |earned_badges| %>
          <tr>
            <td>
              <%= link_to badge_path(earned_badges.badge) do %>
                <%= image_tag earned_badges.badge.get_badge_image(150, 150) %>
              <% end %>
            </td>
            <td>
              <%= link_to badge_path(earned_badges.badge) do %>
                <%= earned_badges.badge.name %>
              <% end %>
            </td>
            <td>
              <%= earned_badges.badge.created_at.strftime('%Y/%m/%d') %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>