<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table border-bottom">
        <thead>
          <tr>
            <th></th>
            <th>バッジ</th>
          </tr>
        </thead>
        <tbody>
          <% earned_badges.each do |badge| %>
          <tr>
            <td>
              <%= link_to badge_path(badge) do %>
                <%= image_tag badge.get_badge_image(100, 100) %>
              <% end %>
            </td>
            <td>
              <%= link_to badge_path(badge) do %>
                <%= badge.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>