<div class="row justify-content-center my-3">
  <div class="m-3">
    <%= image_tag member.get_member_image(160, 160), class: "rounded-circle img-fluid" %>
  </div>
  <div class="d-flex align-items-center text-break">
    <h3><%= member.name %></h3>
    <% if member == current_member %>
      <%= link_to member_information_edit_path(member_member_name: current_member.name), class: "btn pb-4" do %>
        <i class="fa-solid fa-gear align-bottom" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <div id="relationship_<%= member.id %>" class="btn pb-3">
        <%= render 'public/relationships/btn', member: member %>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <% if member.introduction.present? %>
    <%= raw member.introduction.scan(/.{1,25}/).join("<br>") %>
  <% end %>
</div>

<div class="row justify-content-center mt-3">
  <p><%= member.reviews.count %></p>レビュー
  <p class="ml-2"><%= member.earned_badges.count %></p>バッジ
  <%= link_to member_follows_path(member_member_name: member.name) do %>
    <p class="ml-2"><%= member.followings.where(members: { is_active: true }).count %>フォロー</p>
  <% end %>
  <%= link_to member_followers_path(member_member_name: member.name) do %>
    <p class="ml-2"><%= member.followers.where(members: { is_active: true }).count %>フォロワー</p>
  <% end %>
</div>