<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <h2>Member Information Edit</h2>
        <%= form_with model: @member, url: member_update_path(member_member_name: current_member.name) do |f| %>

          <div class="field m-5">
            <%= image_tag @member.get_member_image(200, 200), class: "rounded-circle img-fluid mb-3" %>
          </div>

          <div class="field my-2">
            <%= f.file_field :member_image, accept: "image/*" %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :name, "氏名" %>
            <%= f.text_field :name, placeholder: "メンバーネーム（25文字以下）", autofocus: true, class: "form-control" %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :introduction, "自己紹介" %>
            <%= f.text_area :introduction, placeholder: "自己紹介（255文字以下）", class: "form-control", rows: 5 %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :email, "email" %>
            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>
          </div>

          <div class="actions m-3">
            <%= link_to  "キャンセル", member_my_page_path, class: "btn btn-secondary mr-3" %>
            <%= f.submit "保存", class: "btn btn-success" %>
          </div>
        <% end %>
        <%= link_to "退会を希望の方", member_confirm_withdraw_path(member_member_name: current_member.name) %>
      </div>
    </div>
  </div>
</div>