<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="text-center">
        <h2>Exhibition Information Edit</h2>
        <%= form_with model: @exhibition, url: admin_exhibition_path(@exhibition) do |f| %>

          <div class="field m-5">
            <%= image_tag @exhibition.get_exhibition_images(200, 200), class: "rounded-circle mb-3" %>
            <%= f.file_field :exhibition_images, accept: "image/*", class: "form-control-file" %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :name, "展示会名" %>
            <%= f.text_field :name, placeholder: "展示会名（25文字以下）", autofocus: true, class: "form-control" %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :introduction, "紹介文" %>
            <%= f.text_area :introduction, placeholder: "紹介文（255文字以下）", class: "form-control", rows: 10 %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :official_website, "公式WEBサイトURL" %>
            <%= f.text_area :official_website, placeholder: "公式WEBサイトURL（255文字以下）", class: "form-control" %>
          </div>

          <div class="field text-left my-4">
            <%= f.label :museum_id, "開催元の美術館" %>
            <%= f.collection_select :museum_id, Museum.all, :id, :name, prompt: "美術館を選択してください", class: "form-control" %>
          </div>

          <div class="field text-left my-2">
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active_true, "公開" %>
            <%= f.radio_button :is_active, false, class: "ml-3" %>
            <%= f.label :is_active_false, "非公開" %>
          </div>

          <div class="actions m-3 mb-5">
            <%= link_to  "キャンセル", admin_exhibition_path, class: "btn btn-secondary mr-3" %>
            <%= f.submit "保存", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>