<% unless current_member.guest? %>
  <% if review.favorited_by?(current_member) %>
    <%= link_to review_favorites_path(review), method: :delete, remote: true, data: {"turbolinks" => false}, class: "btn", style: "color: red;" do %>
      <i class="fa-solid fa-heart" aria-hidden="true"></i>
      <%= review.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to review_favorites_path(review), method: :post, remote: true, data: {"turbolinks" => false}, class: "btn" do %>
      <i class="fa-regular fa-heart" aria-hidden="true"></i>
      <%= review.favorites.count %>
    <% end %>
  <% end %>
<% else %>
  <div class="btn">
    <i class="fa-solid fa-heart" aria-hidden="true"></i>
    <%= review.favorites.count %>
  </div>
<% end %>