<% unless current_member.is_guest? %>
  <% if museum.bookmarked_by?(current_member) %>
    <%= link_to museum_bookmark_museums_path(museum), method: :delete, remote: true, data: {"turbolinks" => false} do %>
      <i class="fa-solid fa-bookmark mr-1" aria-hidden="true"></i>
      <%= bookmark_museum_counts %>
    <% end %>
  <% else %>
    <%= link_to museum_bookmark_museums_path(museum), method: :post, remote: true, data: {"turbolinks" => false} do %>
      <i class="fa-regular fa-bookmark mr-1" aria-hidden="true"></i>
      <%= bookmark_museum_counts %>
    <% end %>
  <% end %>
<% else %>
  <div class="btn">
    <i class="fa-solid fa-bookmark mr-1" aria-hidden="true"></i>
    <%= bookmark_museum_counts %>
  </div>
<% end %>