<div class="row justify-content-center review-detail-member m-3">
  <div class="col text-right">
    <%= link_to member_my_page_path(member_member_name: review.member.name) do %>
      <%= image_tag review.member.get_member_image(80, 80), class: "rounded-circle img-fluid" %>
    <% end %>
  </div>
  <div class="col">
    <div class="row">
      <%= link_to member_my_page_path(member_member_name: review.member.name) do %>
        <%= content_tag :h3, review.member.name, class: "text-dark" %>
      <% end %>
      <div class="col">
        <% unless review.member == current_member %>
          <div id="relationship_<%= review.member.id %>">
            <%= render 'public/relationships/btn', member: review.member %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row d-flex">
      <%= review.member.reviews.count %>レビュー
      <%= content_tag :span, review.member.earned_badges.count, class: "ml-3" %>バッジ
      <%= link_to member_follows_path(member_member_name: review.member.name) do %>
        <p class="ml-3"><%= review.member.follower.count %>フォロー</p>
      <% end %>
      <%= link_to member_followers_path(member_member_name: review.member.name) do %>
        <p class="ml-3"><%= review.member.followed.count %>フォロワー</p>
      <% end %>
    </div>
  </div>
</div>