<div class="container-fluid">
  <h2 class="text-center">REVIEW INFORMATION EDIT</h2>
  <p class="text-center"><%= flash[:notice] %></p>
  <%= render 'layouts/error', obj: @review %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center review-form">
        <%= form_with model: @review, url: review_path do |f| %>

          <div class="field m-5">
            <% if @review.review_image.attached? %>
              <%= image_tag @review.get_review_image(300, 300), class: "img-fluid" %>
            <% end %>
          </div>

          <div class="field text-left my-2">
            <p class="text-info text-center">
              AIが文章から感情を分析し、その感情に基づいて評価スコアを算出します。
            </p>
            <%= f.label :body, "レビュー" %>
            <%= f.text_area :body, placeholder: "本文（255文字以下）", class: "form-control", rows: 8 %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :tags_name, "タグ" %>
            <%= f.text_area :tags_name, value: (@tags&.map(&:name)&.join(' ') || ''),
              placeholder: "タグをスペースで区切って入力（記号以外 50文字以下）",
              class: "form-control", rows: 2 %>
          </div>

          <div class="actions m-3">
            <%= link_to  "キャンセル", review_path(@review), class: "btn btn-secondary mr-3" %>
            <%= f.submit "保存", class: "btn btn-success" %>
          </div>
        <% end %>
        <%= link_to "削除する", review_path, method: :delete %>
      </div>
    </div>
  </div>
</div>