<div class="container-fluid">
  <h2 class="text-center">NEW REVIEW CREATE</h2>
  <p class="text-center"><%= flash[:notice] %></p>
  <%= render 'layouts/error', obj: @review %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex m-3">
        <div class="progress review-progress">
          <div class="progress-bar review-progress-body" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">レビュー記入</div>
        </div>
      </div>
    </div>
  </div>

   <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="text-center review-form">
        <%= form_with model: @review, url: reviews_path, local:true do |f| %>

          <div class="field m-5">
            <%= f.file_field :review_image, accept: "image/*" %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :body, "レビュー" %>
            <%= f.text_area :body, placeholder: "本文（255文字以下）", class: "form-control", rows: 8 %>
          </div>

          <div class="field text-left my-2">
            <%= f.label :tags_name, "タグ" %>
            <%= f.text_field :tags_name, placeholder: "タグをスペースで区切って入力（記号以外 50文字以下）", class: "form-control" %>
          </div>

          <%= f.hidden_field :exhibition_id, :value => @selected_exhibition_id %>

          <div class="actions m-3">
            <%= link_to  "最初から選び直す", select_museums_path, class: "btn btn-secondary mr-3" %>
            <%= f.submit "作成", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
