<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <h2 class="text-center">New Review Create</h2>
      <div class="d-flex m-3">
        <div class="progress review-progress">
          <div class="progress-bar review-progress-exhibitions" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">展示会選択</div>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col">
      <div class="text-center review-form">
        <h4 class="m-3">ご鑑賞になった展示会をお選びください</h4>
        <%= form_with model: @exhibitions, url: selected_exhibition_path do |f| %>
          <div class="field my-4">
            <%= f.collection_select :exhibition_id, Exhibition.where(museum_id: @selected_museum_id, is_active: true), :id, :name, prompt: "展示会を選択してください", class: "form-control" %>
          </div>
          <div class="actions m-3">
             <%= link_to  "美術館を選び直す", select_museums_path, class: "btn btn-secondary mr-3" %>
            <%= f.submit "レビュー記入へ", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
