<div class="container-fluid">
  <h2 class="text-center">ARTIST DETAIL</h2>

  <div class="row justify-content-center my-5">
    <div class="col-md-6">
      <div class="images my-auto">
        <% @artist.artist_images.each do |image| %>
          <%= image_tag image.variant(resize: "600x400", gravity: 'center', extent: "600x400").processed, class: "img-fluid" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center text-break">
      <h4><%= @artist.name %></h4>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <% if @artist.introduction.present? %>
      <%= raw @artist.introduction.scan(/.{1,85}/).join("<br>") %>
    <% end %>
  </div>

  <div class="border mt-5"></div>
  <h2 class="text-center m-3">出展展示会</h2>
  <div class="row justify-content-center">
    <div class="text-center">
      <% @exhibitions.each_slice(2) do |exhibitions| %>
        <div class="d-flex flex-wrap m-3">
          <% exhibitions.each do |exhibition| %>
            <div class="d-flex flex-column m-5">
              <%= link_to exhibition_path(exhibition) do %>
                <%= image_tag exhibition.exhibition_images.first.variant(resize: "400x300", gravity: 'center', extent: "300x200").processed, class: "mb-1 img-fluid" %>
              <% end %>
              <%= raw exhibition.name.scan(/.{1,30}/).join("<br>") %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
