<div class="container-fluid">
  <h2 class="text-center">MEMBER SIGN UP</h2>
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="text-center">
        <%= form_with model: @member, url: member_registration_path do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>

          <div class="field m-5">
            <%= f.label :member_image, "プロフィール画像" %>
            <%= f.file_field :member_image, accept: "image/*", class: "form-control-file" %>
          </div>

          <div class="field">
            <%= f.text_field :name, placeholder: "メンバー名（25文字以下）", autofocus: true, class: "form-control mb-2" %>
          </div>

          <div class="field">
            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control mb-2" %>
          </div>

          <div class="field">
            <%= f.password_field :password, placeholder: "パスワード(6文字以上)", class: "form-control mb-2" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, placeholder: "パスワード（確認用）", class: "form-control" %>
          </div>

          <div class="actions m-3">
            <%= f.submit "Sign up", class: "btn btn-success" %>
          </div>
        <% end %>
        <%= link_to new_member_session_path do %>
          <p>アカウントにログイン</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
