<table class="table border-bottom m-3">
  <thead>
    <tr>
      <th></th>
      <th>美術館</th>
      <th>展示会</th>
      <th><i class="fa-solid fa-bookmark" aria-hidden="true"></i></th>
    </tr>
  </thead>
  <tbody>
    <% museums.each do |museum| %>
    <tr>
      <td>
        <%= link_to museum_path(museum) do %>
          <%= image_tag museum.get_museum_images(100, 100), class: "img-fluid" %>
        <% end %>
      </td>
      <td>
        <%= link_to museum_path(museum) do %>
          <%= museum.name %>
        <% end %>
      </td>
      <td><%= museum.exhibitions.count %></td>
      <td><%= BookmarkMuseum.joins(:member).where(museum_id: museum.id, members: { is_active: true }).count %></td>
    </tr>
    <% end %>
  </tbody>
</table>