<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center m-2">
    <div class="text-center">
      <div class="tabs">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#section1">
              <%= image_tag 'museum_logo.png', width: '150px', height: 'auto', class: "img-fluid" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section2">
              <%= image_tag 'exhibition_logo.png', width: '150px', height: 'auto', class: "img-fluid" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section3">
              <%= image_tag 'artist_logo.png', width: '150px', height: 'auto', class: "img-fluid" %>
            </a>
          </li>
        </ul>
        <div class="tab-content border-top">
          <div id="section1" class="tab-pane fade show active">
            <%= render "index", museums: @museums %>
          </div>
          <div id="section2" class="tab-pane fade">
            <%= render "public/exhibitions/index", exhibitions: @exhibitions %>
          </div>
          <div id="section3" class="tab-pane fade">
            <%= render "public/artists/index", artists: @artists %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>