<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row d-flex justify-content-center m-3">
    <div class="col-md-3">
      <div class="images my-auto">
        <% @museum.museum_images.each do |image| %>
          <%= image_tag image.variant(resize: "600x400", gravity: 'center', extent: "600x400").processed %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <%= content_tag :h4, @museum.name %>
    </div>
  </div>

  <div class="row justify-content-center">
    <% if @museum.introduction.present? %>
      <%= @museum.introduction.scan(/.{1,85}/).join("<br>").html_safe %>
    <% end %>
  </div>
  <div class="row justify-content-center m-3">
    <%= link_to "#{@museum.name} 公式サイト", @museum.official_website, target: "_blank", class: "mr-3" %>
    <%= link_to "https://goo.gl/maps/Pue94AkNR1e5rwGt6", target: "_blank", class: "text-dark" do %>
      MAP <i class="fa-solid fa-map-location-dot"></i>
    <% end %>
  </div>

  <div id="bookmark_<%= @museum.id %>", class="row justify-content-center align-items-center">
    <%= render "public/bookmark_museums/bookmark", museum: @museum %>
  </div>

  <div class="border mt-5"></div>
  <h2 class="text-center m-3">開催中の展示会</h2>
  <div class="row justify-content-center">
    <div class="text-center">
      <% @exhibitions.each_slice(2) do |exhibitions| %>
        <div class="d-flex">
          <% exhibitions.each do |exhibition| %>
            <div class="d-flex flex-column m-5">
              <%= link_to exhibition_path(exhibition) do %>
                <%= image_tag exhibition.exhibition_images.first.variant(resize: "400x300", gravity: 'center', extent: "300x200").processed, class: "mb-1" %>
              <% end %>
              <%= exhibition.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>