<% review_comments.each do |review_comment| %>
  <div class="card my-3">
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-center">
          <%= link_to member_my_page_path(member_member_name: review_comment.member.name) do %>
            <%= image_tag review_comment.member.get_member_image(100, 100), class: "rounded-circle img-fluid" %>
          <% end %>
        </div>
        <div class="col-7">
          <%= link_to member_my_page_path(member_member_name: review_comment.member.name) do %>
            <h6 class="text-muted text-left"><%= review_comment.member.name %></h6>
          <% end %>
          <p class="text-dark text-left"><%= review_comment.comment %></p>
        </div>
        <div class="col-3 text-right">
          <% if can_comments_be_deleted?(review_comment) %>
            <%= link_to review_review_comment_path(review_comment.review, review_comment), method: :delete, remote: true, data: {"turbolinks" => false}, class: "btn" do %>
              <i class="fa-solid fa-trash-can" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="small text-muted text-right">
        <%= time_ago_in_words(review_comment.created_at).upcase %>
      </div>
    </div>
  </div>
<% end %>