<div class="container-fluid ">
  <div class="row m-2">
    <div class="col">
      <div class="text-center">
        <% if member_signed_in? %>
          <%= link_to reviews_path do %>
            <%= image_tag 'timeline_logo.png', width: '145px', height: 'auto' %>
          <% end %>
          <%= link_to new_search_path do %>
            <%= image_tag 'search_logo.png', width: '145px', height: 'auto' %>
          <% end %>
          <%= link_to museums_path do %>
            <%= image_tag 'event_logo.png', width: '145px', height: 'auto' %>
          <% end %>
          <%= link_to member_my_page_path(member_user_name: current_member.user_name) do %>
            <%= image_tag 'mypage_logo.png', width: '145px', height: 'auto' %>
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to admin_reviews_path do %>
            <%= image_tag 'timeline_logo.png', width: '145px', height: 'auto' %>
          <% end %>
          <%= link_to admin_members_path do %>
            <%= image_tag 'member_logo.png', width: '145px', height: 'auto' %>
          <% end %>
          <%= link_to admin_museums_path do %>
            <%= image_tag 'event_logo.png', width: '145px', height: 'auto' %>
          <% end %>
        <% else %>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-instagram m-5"></i>
          <i class="fa-brands fa-facebook"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
