<% link_attributes = { width: '145px', height: 'auto', class: "img-fluid footer-responsive" } %>
<div class="container-fluid">
  <div class="row m-2">
    <div class="col text-nowrap">
      <div class="text-center">
        <!-- 会員専用リンク -->
        <% if member_signed_in? %>
          <%= link_to reviews_path do %>
            <%= image_tag 'timeline_logo.png', link_attributes %>
          <% end %>
          <%= link_to searches_path do %>
            <%= image_tag 'search_logo.png', link_attributes %>
          <% end %>
          <% unless current_member.is_guest? %>
            <%= link_to select_museums_path do %>
              <i class="review-new-btn fa-solid fa-circle-plus text-dark footer-responsive" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <%= link_to museums_path do %>
            <%= image_tag 'event_logo.png', link_attributes %>
          <% end %>
          <% unless current_member.is_guest? %>
            <%= link_to member_my_page_path(member_member_name: current_member.name) do %>
              <%= image_tag 'mypage_logo.png', link_attributes %>
            <% end %>
          <% end %>
        <!-- 管理者専用リンク -->
        <% elsif admin_signed_in? %>
          <%= link_to admin_reviews_path do %>
            <%= image_tag 'timeline_logo.png', link_attributes %>
          <% end %>
          <%= link_to admin_members_path do %>
            <%= image_tag 'member_logo.png', link_attributes %>
          <% end %>
          <%= link_to admin_museums_path do %>
            <%= image_tag 'event_logo.png', link_attributes %>
          <% end %>
          <%= link_to admin_badges_path do %>
            <%= image_tag 'badge_logo.png',link_attributes %>
          <% end %>
        <!-- ログイン前SNSリンク -->
        <% else %>
          <%= render '/layouts/footer_sns_icons' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
